@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200..900&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#container {
  display: flex;
  align-items: start;
  gap: 3em;
  height: 100%;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.hanja-info, .hanja-info * {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

.hanja-info {
  border: 2px solid black;
}

.hanja {
  font-weight: normal;
  font-size: 3em;
  font-family: 'Noto Serif SC';
  line-height: 1em;
  width: 1.25em;
  height: 1.25em;
}

.hanja-info tr th:not(.hanja) {
  width: 7em;
}

.hanja-info tr td {
  width: 5em;
}